.button {
  all: unset;
  display: block;
  cursor: pointer;
  min-width: 300px;
  min-height: 65px;
  border: 1.5px white solid;
  border-radius: 4px;

  line-height: 16px;
  text-align: center;

  // align-self: flex-end;
  // margin-top: 20px;
  grid-area: but;

  transition: all 0.5s 0s ease-in-out;

  &:hover {
    background-color: #19acb9;
    border-color: #19acb9;
    transition: all 0.5s 0s ease-in-out;
  }
}