@import '../../scss/mixin.scss';
@import '../../scss/variables.scss';
.competition {
  @include flex(center, start, column);
  min-height: 650px;
  max-width: 1200px;
  margin: 0 auto;

  &__title {
    color: $primary_color_text;
    text-align: center;
    font-size: 30px;
  }

}

.rating {

  &__block {
    width: 100%;
    display: grid;
    align-items: start;
    grid-template-areas: 
    'text select'
    'sort sort';
    gap: 20px;
  }

  &__text {
    margin: 0;
    grid-area: text;
    max-width: 600px;
    max-height: 300px;
    font-size: 22px;
  }

  &__list {
    grid-area: sort;
    list-style-type: none;
    @include flex(center, space-between, row);
    width: 100%;
    margin: 0;
    padding: 0;
  }


}

.villian {
  box-sizing: border-box;

  &__card {
    box-sizing: border-box;
    @include flex(center, space-between, column);
    // max-width: 1240px;
    min-height: 170px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;

    &_activeSwap {
      border: 2px solid $brand-color;
    }

    &_activeSelect {
      border: 2px solid white;
    }

    &:hover {
      border: 2px solid $brand-color;
    }



  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    object-position: center center;
  }

  &__name, &__deeds  {
    display: block;
    font-size: 14px;
    text-align: center;
  }

  &__deeds {
    margin: 10px 0;
    font-size: 22px;
  }
}

.pedestal {
  @include flex(center, center, row);
  width: 100%;
  min-height: 250px;

  &__image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  &__text {
    margin-left: 20px;
    font-size: 16px;
    max-width: 600px;
  }

}
