//color
$primary_color_text: #F2F2F2;
$brand-color: #19acb9;


//ширина экрана
$width-xs: 460px;
$width-s: 768px;
$width-m: 1024px;
$width-l: 1300px;
$width-xl: 1512px;

//шрифт
$main-font: 'Montserrat';





